<% layout('layouts/boilerplate') %>

    <div class="row">
        <h2 class="text-center mt-2">Edit Spot</h2>
        <div class="col-6 offset-3">
            <form action="/spots/<%= spot._id %>?_method=put" method="post" class="validated-form" enctype="multipart/form-data" novalidate>
                <div class="mb-2">
                    <label for="title" class="form-label mb-1">Title</label>
                    <input type="text" class="form-control" id="title" name="spot[title]" value="<%= spot.title %>"
                        required>
                </div>
                <div class="mb-2">
                    <label for="location" class="form-label mb-1">Location</label>
                    <input type="text" class="form-control" id="location" name="spot[location]"
                        value="<%= spot.location %>" required>
                </div>
                <div class="mb-2">
                    <div class="form-file custom-file">
                        <label for="image" class="form-label">Images</label>
                        <input class="form-control" type="file" id="image" name="image" multiple>
                    </div>
                </div>
                <div class="mb-2">
                    <% spot.images.forEach(function(img, i) { %>

                        <img src="<%= img.url %>" class="img-thumbnail" alt="">
                        <div class="form-check-inline">
                            <input type="checkbox" id="image-<%=i%>" name="deleteImages[]" value="<%=img.filename%>">
                        </div>
                        <label for="image-<%=i%>">Delete?</label>
                        <% })%>
                </div>
                <div class="mb-2">
                    <label for="description" class="form-label mb-1">Description</label>
                    <textarea type="text" class="form-control" id="description" name="spot[description]"
                        value="<%= spot.description %>" rows="2" required></textarea>
                </div>
                <a href="/spots" class="btn btn-danger">Back</a>
                <button type="submit" class="btn btn-success">Update</button>
            </form>
        </div>
    </div>