<% layout('layouts/boilerplate') %>

    <div class="row">
        <div class="col-6 offset-3">
            <div class="card">
                <img src="<%= spot.image %>">
                <div class="card-body">
                    <h5 class="card-title"><%= spot.title %></h5>
                    <p class="card-text"><%= spot.description %></p>
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item text-muted"><%= spot.location %></li>
                    <li class="list-group-item"><%= spot.price %></li>
                </ul>
                <div class="card-body">
                    <a href="/spots/<%= spot._id %>" class="card-link btn btn-infor"></a>
                </div>
            </div>
        </div>
    </div>